<div class="container-footer"
    style="padding-bottom: 30px; text-align:center; font-style: italic; font-weight:bolder; margin-top:0; ">
    <h4 style="font-size:19px; color: rgb(247,183,51); font-family: Arial, Helvetica, sans-serif; font-weight: 12000; ">
        i'm ceo, bitch.
    </h4>

    <div class="social-icons">
        <a href="https://www.facebook.com/hitesh.rewri.1" class="col-4 fa fa-facebook text-center" title="Facebook Link" target="_blank"></a>

        <a href="https://www.linkedin.com/in/hitesh-rewri/" class="col-4 fa fa-linkedin  text-center" title="Linkedin Link" target="_blank"></a>
        <a href="https://www.instagram.com/hitesh.rew/" class="col-4 fa fa-instagram text-center" title="Instagram Link" target="_blank"></a>
        <!-- <a href="" title="Quora Link" class="col-4 fa fa-quora  text-center" target="_blank"></a> -->
        <!-- <a href="#" class="col-4 fa fa-medium  text-center" title="Medium Link" target="_blank"></a>
        <a href="#" class="col-4 fa fa-youtube  text-center" title="Youtube Link" target="_blank"></a> -->





    </div>
</div>

<style>
    .social-icons a {
        text-decoration: none;
        color: #f7b733;
        font-size: 2rem;
        padding-top: 20px;
        height: 60px;
        width: 60px;
        border: 1px solid #ff5f6d;
        margin: 5px
    }

    .fa-facebook:hover {
        background: #3b5999;
        border-color: #3b5999;
        color: #fff
    }

    .fa-youtube:hover {
        background: #cd201f;
        border-color: #cd201f;
        color: #fff
    }

    .fa-twitter:hover {
        background: #55acee;
        border-color: #55acee;
        color: #fff
    }

    .fa-linkedin:hover {
        background: #0077b5;
        border-color: #0077b5;
        color: #fff
    }

    .fa-instagram:hover {
        background: #e4405f;
        border-color: #e4405f;
        color: #fff
    }

    .fa-quora:hover {
        background: #b92b27;
        border-color: #b92b27;
        color: #fff
    }

    .fa-medium:hover {
        background: #02b875;
        border-color: #02b875;
        color: #fff
    }

    .footer-right-img {
        height: 200px;
        width: 200px;
        margin-top: 6rem;
        transform: scale(1.6)
    }

    .footer-section {
        width: 100%;
        min-height: 50px;
        background: linear-gradient(to right, #ff5f6d, #f7b733);
        color: #fff;
        text-align: center;
        padding: 10px;
        font-weight: lighter
    }

    .footer-section img {
        height: 30px;
        width: 30px
    }
</style>
</body>

</html>