<%- include("partials/header.ejs") %>

<h1 class="choice-text">The Choice is yours</h1>



<div class="flex-container-movie">

	<div class="flex-item-movie">
		<a href="/movie">
			<div class="promo" style="--overlay-color: #fc0394">
				<div class="image-wrapper"><img src="/images/joker.jpg"/></div>
				<h2 class="title" data-cta="Find the one for you→">Movies</h2>
			</div>
			</button>
		</a>
	</div>

	<div class="flex-item-movie">
		<a href="/tv">
			<div class="promo" style="--overlay-color:#03fcd3" >
				<div class="image-wrapper"><img src="images/bb.jpg" /></div>
				<h2 class="title" data-cta="under development">TV Shows</h2>
			</div>
		</a>
	</div>

</div>


<%- include("partials/footer.ejs") %>




<!-- <div class="promo" style="--overlay-color: dodgerblue">
    <div class="image-wrapper"><img src="https://images.unsplash.com/photo-1548008116-bcfec1f4c812?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=800&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjE0NTg5fQ" /></div>
    <h2 class="title" data-cta="Grab a board →">Surf's Up!</h2>
</div>
<div class="promo" style="--overlay-color: darkgreen">
    <div class="image-wrapper"><img src="https://images.unsplash.com/photo-1569335048491-5fb94951e885?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=800&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjE0NTg5fQ" /></div>
    <h2 class="title" data-cta="Take a walk →">Day Hikes</h2>
</div> -->